.catergory-box {
  transition-duration: 0.7s;
  height: 275px;
  width: 275px;
  margin: 0 auto;
  background: {
    size: cover;
    repeat: no-repeat;
  }
  display: flex;
    justify-content: flex-end;
    padding: 3px;
    position: relative;
    left: 0;
    right: 0;
  h2 {
    @include header(#ffffff);
    font-size: 1rem;
    text-shadow: 4px 4px 4px #1DB954;
  }
  &.selected {
    transform: scale(0.7);
    border-radius: 50%;
    transition-duration: 0.7s;
    justify-content: center;
    box-shadow: 0px 1px 10px 10px #ffffff29;
  }
  &.removed {
    position: absolute;
    left: 2000px;
    transition-duration: 0.7s;
  }
}
@media only screen and (max-width: 600px) {
  .catergory-box {
    margin: 10px;
  }
}
