.category-dropdown {
  display: flex;
  background: #006d1b;
  @include content(#ffffff);
  height: 40px;
  width: auto;
  border: none;
  text-align-last: center;
  font-size: large;
  margin: 0 auto;
  width: 100%;
  padding-top: 3 rem;
  &:focus {
    outline: none;
  }
  option {
    background: #1db954;
  }
}
@media only screen and (max-width: 600px) {
  .category-dropdown {
    height: 40px;
    width: 100vw;
  }
}
