
.table-container{
  position: absolute;
  background: rgb(255, 255, 255);
  overflow-x: hidden;
  height: 60%;
  width: 100%;
  overflow-y: scroll;
  z-index: 2000;
  opacity: 0.5;  
}

.table-container img {
  height: 30px;
  width: 30px;
}
