@import url('https://fonts.googleapis.com/css?family=Gayathri|Manjari&display=swap');

@mixin header($color) {
  font-family: 'Manjari', sans-serif;
  color: $color;
}
@mixin content($color) {
  font-family: 'Gayathri', sans-serif;
  color: $color;
}